body {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: #333333;
    font-weight: 300;
    font-size: 18px;
    word-break: break-word; /* empêche le texte de dépasser de son bloc */
}


/* Barre de navigation */

#nav_dekstop{
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 1.5% !important;
    padding-bottom: 1.5% !important;
    height: 5%;
    position: fixed;
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

li{
    padding: 1% 2% 0% 0% !important;
}

a{
    color:rgb(65, 64, 64);
text-decoration: none !important;
}

a:hover{
    font-weight: bold;
    font-size: 1.1em;

}

/* AFFICHAGE MOBILE */
@media screen and (max-width: 768px){
    #nav_dekstop {
        display: flex;
        flex-direction: column;
    }
}